// =================================================================
// block
// =================================================================

@use "variables" as *;
@use "functions" as *;

.dots {
    background-image: radial-gradient(circle at center, $color-main 20%, transparent 20%);
    background-position: top right;
    background-repeat: repeat-x;
    background-size: 1em 0.3em;
    padding-top: .4em;
}

.break {
    @include mq(tablet) {
        display: none;
    }
}

.bold {
    font-weight: bold;
}

.btn {
    height: 60;
    display: grid;
    padding: rem(14) rem(30);
    width: rem(300);
    background-color: $color-base;
    font-weight: bold;
    grid-auto-flow: column;
    align-items: center;
    justify-content: space-between;
    position: relative;


    &::before {
        position: absolute;
        content: " ";
        display: block;
        width: 100%;
        height: 100%;
        background: url(../images/btn-left-top.webp)left top/7px 7px no-repeat, url(../images/btn-right-top.webp) right top/7px 7px no-repeat, url(../images/btn-left-bottom.webp) left bottom/7px 7px no-repeat, url(../images/btn-right-bottom.webp) right bottom/7px 7px no-repeat;

        z-index: 2;
    }

    &:hover::after {
        transform: scaleY(1);
    }

    &::after {
        position: absolute;
        top: 0;
        left: 0;
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        background: $color-main;
        transform: scaleX(0);
        transition: all 0.5s ease;
        transition-property: transform;

    }

    p,
    i {
        z-index: 2;
    }

    &--center {
        margin: 0 auto;
    }
}

.card {
    &__name {
        @include sub-title();
    }

    &__text {
        padding: rem(12) rem(25);
        background-color: $color-bg;
    }

    @include mq() {
        width: 300px;

        &__text {
            padding: rem(15) rem(30);
        }
    }
}

.unit {

    &__number {
        font-size: rem(40);
    }

    &__heading {
        margin-bottom: rem(15);
        display: flex;
        align-items: center;
        column-gap: rem(10);
    }

    &__title {
        @include sub-title();
    }

    @include mq() {
        &__number {
            font-size: rem(64);
            line-height: 1;
        }

        &__heading {
            padding-left: rem(500);
            column-gap: rem(20);
            align-items: center;
        }

        &__text {
            padding-left: rem(500);
        }


    }
}

.post {
    width: 300px;
    height: 350px;
    padding: rem(50) rem(23) rem(23) rem(23);
    background-color: $color-base;
    text-align: center;

    position: relative;
    overflow: visible;

    &__title {
        @include sub-title();
        margin-bottom: rem(10);
    }

    &__pic {
        width: 78px;
        height: 78px;
        position: absolute;
        top: rem(-30);
        left: 50%;
        transform: translateX(-50%);
    }

    @include mq() {
        width: 350px;
        height: 400px;
    }
}

.box {
    display: grid;
    row-gap: rem(15);

    &__pic {
        position: relative;
        margin: 0 auto
    }

    &__title {
        @include sub-title();
        text-align: center;
        margin-bottom: rem(15);
    }

    &__number {
        position: absolute;
        top: rem(-15);
        left: rem(-15);
        width: 70px;
        height: 70px;
        padding: rem(15);
        color: $color-base;
        background-color: $color-main;
        font-size: rem(32);
        line-height: 1.3;
        text-align: center;
        align-items: center;
        border-radius: 50px;
    }

    &__text {
        margin-bottom: rem(30);
    }

    &__arrow-bottom {
        margin: 0 auto;
    }

    @include mq(tablet) {
        grid-template-columns: auto 1fr;
        gap: rem(50) rem(80);
        align-items: center;

        &__pic {
            width: 240px;
            height: 200px;
        }

        &__title {
            text-align: left;
        }

        &__text {
            max-width: 700px;
            text-align: left;
        }
    }

}