// =================================================================
// slide
// =================================================================

@use "variables" as *;
@use "functions" as *;

.slick {
    &-slide {
        margin: rem(50) rem(15);
        transition: transform 0.4s ease;
    }

    &-prev,
    &-next {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        border: 1px solid $color-text;
        background: $color-base;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 10;
        /* 文字を消す */
        font-size: 0;

        transition:
            background-color 0.4s ease,
            transform 0.3s ease;

        &:hover {
            background-color: $color-main;
        }

    }

    &-prev i,
    &-next i {
        font-size: 24px;
        color: $color-text;
    }

    &-current {
        transform: scale(1.08);
    }
}

// ボタン
.arrow-area {
    display: flex;
    justify-content: center;
    column-gap: 50px;
    margin-bottom: rem(100);
}